body {
   background-image: url('../img/background.jpg');
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
}

.background-blur {
   position: fixed;
   z-index: -1;
   width: 100%;
   top: 0;
   bottom: 0;
   background-color: #060e184d;
}
