:root {
   --b1: #060E18;
   --g1: #0D6348;
   --g2: #C6E9D9;
   --g3: #E0F2E8;
   --w1: #FDFDFD;
   --gr1: #232323;
   --gr2: #9A9A9A;
   --rc-waiting: #232323;
   --rc-on: #2ECC71;
   --rc-err: #ff5d5d;
}