.footer {
   text-align: center;
   bottom: 0;
   right: 0;
   left: 0;
   padding: 20px;
   box-sizing: border-box;
   font-family: "Nunito Sans", sans-serif;
   margin-top: 40px;
}

.footer p {
   color: var(--w1);
   font-size: 0.875rem;
}

@media screen and (min-width: 1200px) {
   body {
      position: relative;
   }

   .footer {
      position: fixed;
      background-color: var(--gr1); 
   }

   .footer p {
      font-size: 1.125rem;
   }
}