.header-title, .header-menu {
   position: relative;
   z-index: 1;
}

.header-title {
   background-color: var(--b1);
   color: var(--w1);
   text-align: center;
   font-size: 1.5rem;
   font-family: "Nunito Sans", sans-serif;
   font-weight: 500;
   padding: 0.625rem;
   text-transform: uppercase;
   position: fixed;
   width: 100%;
}

.header-menu {
   display: none;
   gap: 1.5rem;
   padding-left: 5rem;
   padding-top: 1.875rem;
   font-family: "Roboto", sans-serif;
   color: var(--w1);
   transition: .2s;
}

.header-menu li {
   transition: .25s;
   border-bottom: 2px solid transparent;
   padding-bottom: 2px;
   font-weight: 400;
}

.header-menu li:hover {
   border-color: var(--w1);
}

/* Desktop */
@media screen and (min-width: 1000px) {

   .mobile-menu {
      display: none;
   }

   .header-title {
      font-size: 2rem;
      padding: 1rem;
      position: relative;
      width: initial;
   }

   .header-menu {
      font-size: 1.5rem;
      display: flex;
   }
}
